.navbar{
    display: flex;
    flex-direction: row;
    background-color: hsl(231, 48%, 48%);
    gap: 1.5rem;
    color: white;
    padding: 1vmin 2vmin 1vmin 3vmin;
    box-shadow: 0 5px 10px 0px hsl(0, 0%, 0%);
    }

.title{
    display: flex;
    align-items: center;
    gap: .2rem;
    padding: .3rem;
}

a{
  color: white;
  text-decoration: none;
  padding: 1vmin;
}

a:hover{
  background-color: hsl(0, 0%, 35%);
}

.title:hover{
    background-color: hsl(0, 0%, 35%);
}

.active{
  font-style: italic;
}